body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: #525c65;
}
header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 96px;
  align-items: center;
}
.imge {
  /* align-self: center; */
  position: relative;
  top: 16px;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  justify-items: center;
}
nav ul li {
  padding: 20px;
  align-self: center;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  color: #525c65;
}
nav select {
  border: none;
  font-size: 16px;
  color: #525c65;
  font-weight: 400;
}
nav button {
  border: none;
  background-color: #02b7e9;
  padding: 10px;
  color: white;
  width: 132px;
  height: 35px;
}
main {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  width: 100%;
  height: 335px;
}
main img {
  width: 809px;
  height: 326px;
}

.left_div {
  display: flex;
  justify-content: center;
  background-image: url("HomepageBanner_tablet.jpg");
  height: 326px;
  width: 708px;
  background-size: 785px 326px;
  color: white;
  align-items: center;
  background-position: right;
}

.left_con {
  width: 640px;
}
.left_con h2 {
  font-size: 32px;
  font-weight: 600;
}
.left_con p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  width: 460px;
}
.left_con button {
  height: 50px;
  width: 165px;
  background-color: #02b7e9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}
.left_con h5 {
  width: 275px;
  line-height: 18px;
  height: 8px;
}
.left_con ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}
.left_con ul li {
  padding: 10px;
}
.icons {
  width: 70px;
  height: 50px;
}

/* leftt div end  */
/* right div start here */
.right_div {
  width: 473px;
  height: 310px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 60px;
}
.right_div h2 {
  font-weight: 300;
  color: #525c65;
}
.right_div img {
  width: 10px;
  height: 13px;
}
/* table  */
table {
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
}
/* table boxes  */
/* blue box */
.blue_box {
  width: 108px;
  height: 40px;
  background-color: #02b3e4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}
.gray_box {
  width: 108px;
  height: 40px;
  background-color: #b4b9bd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}

.td_text {
  width: 243px;
  height: 40px;
  background-color: #f5fcfe;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #525c65;
  margin: 0px;
  background-color: #f5fcfe;
}
/* table end */
/* right div end */
/* main end */

/* section 1 start */

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 530px;
  flex-direction: column;
}
/* sec 1 heading main */
.section1 h2 {
  color: #2e3d49;
  font-size: 28px;
}
/* section1  text ul */
.sec1_text_ul {
  display: flex;
  list-style-type: none;
}
.sec1_text_ul li {
  padding: 20px;
  color: #525c65;
}
/* end text ul */
.card_ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.card_ul li {
  padding: 10px;
  margin: 10px;
}
.sec1_card {
  width: 250px;
  height: 272px;
}
.sec1_card_con {
  width: 250px;
  height: 150px;
  padding: 2px;
}
.sec1_card_con h3 {
  color: #2e3d49;
  font-size: 16px;
}
.sec1_card_con p {
  font-size: 13px;
  color: #96a0aa;
}
/* section 1 end */
/* section2 start */
.section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 450px;
}
/* sectioon 2 heading styling */
.section2 h1 {
  color: #2e3d49;
  font-weight: 400;
  font-size: 32px;
}
/* section 2 ul */
.sec2_ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/*  sec2 ul li */
.sec2_ul li {
  margin: 5px;
}
/* card view of sec2 */
.sec2_card {
  border-radius: 8px;
  height: 300px;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(17, 22, 26, 0.16),
    0 2px 4px 0 rgba(17, 22, 26, 0.08), 0 4px 8px 0 rgba(17, 22, 26, 0.08);
}
/* card 2 imges  */
/* section 2 */
.sec2_card img {
  width: 35px;
  height: 35px;
  margin-top: 30px;
}
/* card ki heading */
.sec2_card h2 {
  color: #2e3d49;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 260px;
  line-height: 36px;
}
/* card ka pera */
.sec2_card p {
  font-size: 14px;
  align-self: center;
  line-height: 28px;
  text-align: center;
  width: 230px;
}
/* section 2 end */
/* section 2 start */
.sec3_main {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec3_center {
  width: 90%;
  height: 336px;
  background-color: #2e3d49;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

}
.sec3_center h1 {
  color: white;
  font-size: 32px;
  font-weight: 300;
}
.sec3_center  p{
  color: white;
  font-size: 16px;
  font-weight: 400;
  width: 100px;
}
